In [1]:
# import modules
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
import math
from functools import reduce
import re
import lxml
import sqlalchemy as alch
from getpass import getpass
from dotenv import load_dotenv
import os

## Data Cleaning and Preperation for Happiness for 2015

In [53]:
happy2015 = pd.read_csv("data\happiness_for_2015.csv")

In [54]:
happy2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [55]:
happy2015.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [56]:
happy2015.dtypes

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Standard Error                   float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

In [57]:
happy2015 = happy2015[(happy2015.Country == "United States") 
          | (happy2015.Country == "Canada") 
          | (happy2015.Country == "Netherlands") 
          | (happy2015.Country == "Hungary") 
          | (happy2015.Country == "Lithuania")
          | (happy2015.Country == "Brazil") 
          | (happy2015.Country == "Spain") 
          | (happy2015.Country == "Israel") 
          | (happy2015.Country == "Japan") 
          | (happy2015.Country == "Singapore")]

In [58]:
happy2015.Country.unique()

array(['Canada', 'Netherlands', 'Israel', 'United States', 'Brazil',
       'Singapore', 'Spain', 'Japan', 'Lithuania', 'Hungary'],
      dtype=object)

In [59]:
happy2015.shape

(10, 12)

In [60]:
happy2015['Year'] = 2015

In [61]:
happy2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual', 'Year'],
      dtype='object')

In [62]:
happy2015 = happy2015.reindex(columns =["Year","Country","Happiness Rank",'Happiness Score','Economy (GDP per Capita)','Family','Health (Life Expectancy)',"Freedom", 'Trust (Government Corruption)','Generosity','Dystopia Residual'])

In [63]:
happy2015.head()

,Year,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
6,2015,Netherlands,7,7.378,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
10,2015,Israel,11,7.278,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172,3.08854
14,2015,United States,15,7.119,1.39451,1.24711,0.86179,0.54604,0.15890,0.40105,2.51011
15,2015,Brazil,16,6.983,0.98124,1.23287,0.69702,0.49049,0.17521,0.14574,3.26001

## Happiness in 2016

In [64]:
happy2016 = pd.read_csv("data\happiness_for_2016.csv")

In [65]:
happy2016.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [66]:
happy2016.isnull().sum()

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [67]:
happy2016 = happy2016[(happy2016.Country == "United States") 
          | (happy2016.Country == "Canada") 
          | (happy2016.Country == "Netherlands") 
          | (happy2016.Country == "Hungary") 
          | (happy2016.Country == "Lithuania")
          | (happy2016.Country == "Brazil") 
          | (happy2016.Country == "Spain") 
          | (happy2016.Country == "Israel") 
          | (happy2016.Country == "Japan") 
          | (happy2016.Country == "Singapore")]

In [68]:
happy2016.Country.unique()

array(['Canada', 'Netherlands', 'Israel', 'United States', 'Brazil',
       'Singapore', 'Spain', 'Japan', 'Lithuania', 'Hungary'],
      dtype=object)

In [69]:
happy2016.shape

(10, 13)

In [70]:
happy2016['Year'] = 2016

In [71]:
happy2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual', 'Year'],
      dtype='object')

In [72]:
happy2016 = happy2016.reindex(columns =["Year","Country","Happiness Rank",'Happiness Score','Economy (GDP per Capita)','Family','Health (Life Expectancy)',"Freedom", 'Trust (Government Corruption)','Generosity','Dystopia Residual'])

In [73]:
happy2016.head()

,Year,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
5,2016,Canada,6,7.404,1.44015,1.09610,0.82760,0.57370,0.31329,0.44834,2.70485
6,2016,Netherlands,7,7.339,1.46468,1.02912,0.81231,0.55211,0.29927,0.47416,2.70749
10,2016,Israel,11,7.267,1.33766,0.99537,0.84917,0.36432,0.08728,0.32288,3.31029
12,2016,United States,13,7.104,1.50796,1.04782,0.77900,0.48163,0.14868,0.41077,2.72782
16,2016,Brazil,17,6.952,1.08754,1.03938,0.61415,0.40425,0.14166,0.15776,3.50733

## Happiness in 2017

In [74]:
happy2017 = pd.read_csv("data\happiness_for_2017.csv")

In [75]:
happy2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [76]:
happy2017.isnull().sum()

Country                          0
Happiness.Rank                   0
Happiness.Score                  0
Whisker.high                     0
Whisker.low                      0
Economy..GDP.per.Capita.         0
Family                           0
Health..Life.Expectancy.         0
Freedom                          0
Generosity                       0
Trust..Government.Corruption.    0
Dystopia.Residual                0
dtype: int64

In [77]:
happy2017.dtypes

Country                           object
Happiness.Rank                     int64
Happiness.Score                  float64
Whisker.high                     float64
Whisker.low                      float64
Economy..GDP.per.Capita.         float64
Family                           float64
Health..Life.Expectancy.         float64
Freedom                          float64
Generosity                       float64
Trust..Government.Corruption.    float64
Dystopia.Residual                float64
dtype: object

In [78]:
happy2017 = happy2017[(happy2017.Country == "United States") 
          | (happy2017.Country == "Canada") 
          | (happy2017.Country == "Netherlands") 
          | (happy2017.Country == "Hungary") 
          | (happy2017.Country == "Lithuania")
          | (happy2017.Country == "Brazil") 
          | (happy2017.Country == "Spain") 
          | (happy2017.Country == "Israel") 
          | (happy2017.Country == "Japan") 
          | (happy2017.Country == "Singapore")]

In [79]:
happy2017.Country.unique()

array(['Netherlands', 'Canada', 'Israel', 'United States', 'Brazil',
       'Singapore', 'Spain', 'Japan', 'Lithuania', 'Hungary'],
      dtype=object)

In [80]:
happy2017.shape

(10, 12)

In [81]:
happy2017['Year'] = 2017

In [82]:
happy2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual', 'Year'],
      dtype='object')

In [83]:
happy2017 = happy2017.reindex(columns =["Year","Country","Happiness.Rank",'Happiness.Score','Economy..GDP.per.Capita.','Family','Health..Life.Expectancy.',"Freedom", 'Trust..Government.Corruption.','Generosity','Dystopia.Residual'])

In [84]:
happy2017.head()

,Year,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Trust..Government.Corruption.,Generosity,Dystopia.Residual
5,2017,Netherlands,6,7.377,1.503945,1.428939,0.810696,0.585384,0.282662,0.470490,2.294804
6,2017,Canada,7,7.316,1.479204,1.481349,0.834558,0.611101,0.287372,0.435540,2.187264
10,2017,Israel,11,7.213,1.375382,1.376290,0.838404,0.405989,0.085242,0.330083,2.801757
13,2017,United States,14,6.993,1.546259,1.419921,0.774287,0.505741,0.135639,0.392579,2.218113
21,2017,Brazil,22,6.635,1.107353,1.431306,0.616552,0.437454,0.111093,0.162350,2.769267

## Happiness in 2018

In [85]:
happy2018 = pd.read_csv("data\happiness_for_2018.csv")

In [86]:
happy2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [87]:
happy2018.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       1
dtype: int64

In [88]:
happy2018.rename(columns={'Country or region': 'Country', "Overall rank":"Happiness Rank", "Score":"Happiness Score"},inplace=True, errors='raise')

In [89]:
happy2018.head()

,Happiness Rank,Country,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [90]:
happy2018.dtypes

Happiness Rank                    int64
Country                          object
Happiness Score                 float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [91]:
happy2018 = happy2018[(happy2018.Country == "United States") 
          | (happy2018.Country == "Canada") 
          | (happy2018.Country == "Netherlands") 
          | (happy2018.Country == "Hungary") 
          | (happy2018.Country == "Lithuania")
          | (happy2018.Country == "Brazil") 
          | (happy2018.Country == "Spain") 
          | (happy2018.Country == "Israel") 
          | (happy2018.Country == "Japan") 
          | (happy2018.Country == "Singapore")]

In [92]:
happy2018.Country.unique()

array(['Netherlands', 'Canada', 'United States', 'Israel', 'Brazil',
       'Singapore', 'Spain', 'Lithuania', 'Japan', 'Hungary'],
      dtype=object)

In [93]:
happy2018.shape

(10, 9)

In [94]:
happy2018['Year'] = 2018

In [95]:
happy2018.columns

Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Year'],
      dtype='object')

In [96]:
happy2018 = happy2018.reindex(columns =["Year","Country","Happiness Rank",'Happiness Score','GDP per capita','Social support','Healthy life expectancy',"Freedom to make life choices", 'Perceptions of corruption','Generosity'])

In [97]:
happy2018.head()

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
5,2018,Netherlands,6,7.441,1.361,1.488,0.878,0.638,0.295,0.333
6,2018,Canada,7,7.328,1.330,1.532,0.896,0.653,0.291,0.321
17,2018,United States,18,6.886,1.398,1.471,0.819,0.547,0.133,0.291
18,2018,Israel,19,6.814,1.301,1.559,0.883,0.533,0.272,0.354
27,2018,Brazil,28,6.419,0.986,1.474,0.675,0.493,0.088,0.110

## Happiness in 2019

In [98]:
happy2019 = pd.read_csv("data\happiness_for_2019.csv")

In [99]:
happy2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [100]:
happy2019.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [101]:
happy2019.rename(columns={'Country or region': 'Country', "Overall rank":"Happiness Rank", "Score":"Happiness Score"},inplace=True, errors='raise')

In [102]:
happy2019.head()

,Happiness Rank,Country,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [103]:
happy2019.dtypes

Happiness Rank                    int64
Country                          object
Happiness Score                 float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [104]:
happy2019 = happy2019[(happy2019.Country == "United States") 
          | (happy2019.Country == "Canada") 
          | (happy2019.Country == "Netherlands") 
          | (happy2019.Country == "Hungary") 
          | (happy2019.Country == "Lithuania")
          | (happy2019.Country == "Brazil") 
          | (happy2019.Country == "Spain") 
          | (happy2019.Country == "Israel") 
          | (happy2019.Country == "Japan") 
          | (happy2019.Country == "Singapore")]

In [105]:
happy2019.Country.unique()

array(['Netherlands', 'Canada', 'Israel', 'United States', 'Spain',
       'Brazil', 'Singapore', 'Lithuania', 'Japan', 'Hungary'],
      dtype=object)

In [106]:
happy2019.shape

(10, 9)

In [107]:
happy2019['Year'] = 2019

In [108]:
happy2019.columns

Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Year'],
      dtype='object')

In [109]:
happy2019 = happy2019.reindex(columns =["Year","Country","Happiness Rank",'Happiness Score','GDP per capita','Social support','Healthy life expectancy',"Freedom to make life choices", 'Perceptions of corruption','Generosity'])

In [110]:
happy2019.head()

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
4,2019,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322
8,2019,Canada,9,7.278,1.365,1.505,1.039,0.584,0.308,0.285
12,2019,Israel,13,7.139,1.276,1.455,1.029,0.371,0.082,0.261
18,2019,United States,19,6.892,1.433,1.457,0.874,0.454,0.128,0.280
29,2019,Spain,30,6.354,1.286,1.484,1.062,0.362,0.079,0.153

In [111]:
happy2019.columns

Index(['Year', 'Country', 'Happiness Rank', 'Happiness Score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Perceptions of corruption',
       'Generosity'],
      dtype='object')

The columns I will be using are going to be the ones in the 2019 dataset. So I will rename the columns in other datasets and clean as needed in order to merge them.
Columns:
- Year 
- Happiness Rank
- Country 
- Happiness Score 
- GDP per capita
- Social support 
- Healthy life expectancy
- Freedom to make life choices
- Generosity
- Perceptions of corruption

In [112]:
happy2015.rename(columns={'Economy (GDP per Capita)':'GDP per capita',
                          'Family':'Social support',
                          'Health (Life Expectancy)':"Healthy life expectancy",
                          'Freedom':'Freedom to make life choices',
                         'Trust (Government Corruption)':'Perceptions of corruption'}, inplace=True)

In [113]:
happy2015.sample()

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,Dystopia Residual
10,2015,Israel,11,7.278,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172,3.08854

In [114]:
happy2016.rename(columns={'Economy (GDP per Capita)':'GDP per capita',
                          'Family':'Social support',
                          "Health (Life Expectancy)":"Healthy life expectancy",
                          'Freedom':'Freedom to make life choices',
                         'Trust (Government Corruption)':'Perceptions of corruption'}, inplace=True)

In [115]:
happy2016.sample()

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,Dystopia Residual
90,2016,Hungary,91,5.145,1.24142,0.93164,0.67608,0.1977,0.04472,0.099,1.95473

In [116]:
happy2017.rename(columns={'Happiness.Rank': 'Happiness Rank',
                          'Happiness.Score': 'Happiness Score',
                          'Economy..GDP.per.Capita.':'GDP per capita',
                          'Family':'Social support',
                          'Health..Life.Expectancy.':'Healthy life expectancy',
                          'Freedom':'Freedom to make life choices',
                         'Trust..Government.Corruption.':'Perceptions of corruption'},inplace=True)

In [117]:
happy2017.sample()

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,Dystopia.Residual
25,2017,Singapore,26,6.572,1.692278,1.353814,0.949492,0.549841,0.464308,0.345966,1.216362

I will be going by the columns in the 2019 and 2018 dataset so I will be dropping any column that is not in those two.

In [118]:
happy2019.columns

Index(['Year', 'Country', 'Happiness Rank', 'Happiness Score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Perceptions of corruption',
       'Generosity'],
      dtype='object')

In [119]:
happy2018.columns

Index(['Year', 'Country', 'Happiness Rank', 'Happiness Score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Perceptions of corruption',
       'Generosity'],
      dtype='object')

In [120]:
happy2017.drop(['Dystopia.Residual'], axis = 1, inplace = True) 
happy2017.columns

Index(['Year', 'Country', 'Happiness Rank', 'Happiness Score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Perceptions of corruption',
       'Generosity'],
      dtype='object')

In [121]:
happy2016.drop(['Dystopia Residual'], axis = 1, inplace = True) 
happy2016.columns

Index(['Year', 'Country', 'Happiness Rank', 'Happiness Score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Perceptions of corruption',
       'Generosity'],
      dtype='object')

In [122]:
happy2015.drop(['Dystopia Residual'], axis = 1, inplace = True) 
happy2015.columns

Index(['Year', 'Country', 'Happiness Rank', 'Happiness Score',
       'GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Perceptions of corruption',
       'Generosity'],
      dtype='object')

In [123]:
happy2015.shape

(10, 10)

In [124]:
happy2016.shape

(10, 10)

In [125]:
happy2017.shape

(10, 10)

In [126]:
happy2018.shape

(10, 10)

In [127]:
happy2019.shape

(10, 10)

Now that they are all the same size with the same columns we can concat them but first i will reset the index.

In [128]:
happy2015.reset_index(drop=True, inplace=True)
happy2015.head(1)

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [129]:
happy2016.reset_index(drop=True, inplace=True)
happy2016.head(1)

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,2016,Canada,6,7.404,1.44015,1.0961,0.8276,0.5737,0.31329,0.44834

In [130]:
happy2017.reset_index(drop=True, inplace=True)
happy2017.head(1)

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,2017,Netherlands,6,7.377,1.503945,1.428939,0.810696,0.585384,0.282662,0.47049

In [131]:
happy2018.reset_index(drop=True, inplace=True)
happy2018.head(1)

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,2018,Netherlands,6,7.441,1.361,1.488,0.878,0.638,0.295,0.333

In [132]:
happy2019.reset_index(drop=True, inplace=True)
happy2019.head(1)

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
0,2019,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322

In [133]:
happymerged = pd.concat([happy2015, happy2016, happy2017, happy2018, happy2019], ignore_index=True)

In [134]:
happymerged.sample(5)

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
45,2019,Brazil,32,6.300,1.004000,1.439000,0.802000,0.390000,0.086000,0.099000
15,2016,Singapore,22,6.739,1.645550,0.867580,0.947190,0.487700,0.469870,0.327060
27,2017,Japan,51,5.920,1.416915,1.436338,0.913476,0.505626,0.163761,0.120573
41,2019,Canada,9,7.278,1.365000,1.505000,1.039000,0.584000,0.308000,0.285000
19,2016,Hungary,91,5.145,1.241420,0.931640,0.676080,0.197700,0.044720,0.099000

In [135]:
happymerged.to_csv("happyscore2015-2019.csv", index=False)