## Data Cleaning and Preperation for WHO Suicide Stats

In [324]:
# import modules
import pandas as pd
import numpy as np
import math

In [325]:
# load dataset
who = pd.read_csv("data\who_suicide_statistics.csv")

In [326]:
# looking at the info of the df
who.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43776 entries, 0 to 43775
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      43776 non-null  object
 1   year         43776 non-null  int64
 2   sex          43776 non-null  object
 3   age          43776 non-null  object
 4   suicides_no  41520 non-null  float64
 5   population   38316 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 2.0+ MB

In [327]:
# checking the size of the df
who.shape

(43776, 6)

In [328]:
# notice that there are missing values so i will remember to take them out once im done looking at the data. 
# there is also an age column which has '5-14' and 'years' which is irrelevant to have so i will try to change it to '05-14' and 
# remove the years.
who.head()

   country  year     sex          age  suicides_no  population
0  Albania  1985  female  15-24 years          NaN    277900.0
1  Albania  1985  female  25-34 years          NaN    246800.0
2  Albania  1985  female  35-54 years          NaN    267500.0
3  Albania  1985  female   5-14 years          NaN    298300.0
4  Albania  1985  female  55-74 years          NaN    138700.0

In [329]:
# all the countries in the dataset. I will have to remove the countries that I will not be including
len(who.country.unique())

141

In [330]:
# all the years in the dataset. I will have to remove the years i will not work with which is everything except 2015-2016.
who.year.unique()

array([1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995,
       1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006,
       2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 1983, 1984,
       2016, 1979, 1980, 1981, 1982], dtype=int64)

In [331]:
# seeing how many missing values i have.
who.isnull().sum()

country           0
year              0
sex               0
age               0
suicides_no    2256
population     5460
dtype: int64

In [332]:
# dropping nan values in the column (make a function later)
who = who.dropna()
who.head()

    country  year     sex          age  suicides_no  population
24  Albania  1987  female  15-24 years         14.0    289700.0
25  Albania  1987  female  25-34 years          4.0    257200.0
26  Albania  1987  female  35-54 years          6.0    278800.0
27  Albania  1987  female   5-14 years          0.0    311000.0
28  Albania  1987  female  55-74 years          0.0    144600.0

In [333]:
# here i am addressing the age column as i mentioned before i wanted to add the '05-14' and remove the year as it will be better
# when it comes to vizualizing
who.loc[:, 'age'] = who['age'].str.replace(' years','')
who.loc[who['age'] == '5-14', 'age'] = '05-14'

In [334]:
# seeing which countries are repeated the most as they will give me the most data limiting it
# to 400 as the max repeated is 456
temp = who.groupby('country').filter(lambda x : len(x)>400)
print(temp['country'].value_counts())

Netherlands                 456
Hungary                     456
Argentina                   444
Hong Kong SAR               444
United Kingdom              444
Singapore                   444
Puerto Rico                 444
Mexico                      444
Malta                       444
Luxembourg                  444
Japan                       444
Israel                      444
Italy                       444
United States of America    444
Austria                     444
Belgium                     444
Brazil                      444
Ecuador                     444
Greece                      444
Chile                       432
Spain                       432
Mauritius                   432
Latvia                      432
Australia                   432
France                      432
Ireland                     432
Iceland                     432
Costa Rica                  420
Canada                      420
Bulgaria                    420
New Zealand                 420
Lithuania                   408
Republic of Moldova         408
Russian Federation          408
Thailand                    408
Guatemala                   408
Name: country, dtype: int64

Countries I will be picking based on the above are:
- United States of America
- Canada
- Netherlands
- Hungary  
- Lithuania
- Brazil
- Spain
- Israel
- Japan
- Singapore

In [365]:
who['country'] = who['country'].str.replace('United States of America','United States')

C:\Users\HFaro\AppData\Local\Temp\ipykernel_18892\3370668591.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  who['country'] = who['country'].str.replace('United States of America','United States')

In [366]:
who = who[(who.country == "United States") 
          | (who.country == "Canada") 
          | (who.country == "Netherlands") 
          | (who.country == "Hungary") 
          | (who.country == "Lithuania")
          | (who.country == "Brazil") 
          | (who.country == "Spain") 
          | (who.country == "Israel") 
          | (who.country == "Japan") 
          | (who.country == "Singapore")]

In [367]:
who.to_csv("who_suicide_statistics_cleaned.csv", index=False)

## Data Cleaning and Preperation for Happiness for 2015

In [384]:
happy2015 = pd.read_csv("data\happiness_for_2015.csv")

In [385]:
happy2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [527]:
happy2015.isnull().sum()

Year                             0
Country                          0
Happiness Rank                   0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [386]:
happy2015.dtypes

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Standard Error                   float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

In [387]:
happy2015 = happy2015[(happy2015.Country == "United States") 
          | (happy2015.Country == "Canada") 
          | (happy2015.Country == "Netherlands") 
          | (happy2015.Country == "Hungary") 
          | (happy2015.Country == "Lithuania")
          | (happy2015.Country == "Brazil") 
          | (happy2015.Country == "Spain") 
          | (happy2015.Country == "Israel") 
          | (happy2015.Country == "Japan") 
          | (happy2015.Country == "Singapore")]

In [388]:
happy2015.Country.unique()

array(['Canada', 'Netherlands', 'Israel', 'United States', 'Brazil',
       'Singapore', 'Spain', 'Japan', 'Lithuania', 'Hungary'],
      dtype=object)

In [389]:
happy2015.shape

(10, 12)

In [391]:
happy2015['Year'] = 2015

In [392]:
happy2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual', 'Year'],
      dtype='object')

In [409]:
happy2015 = happy2015.reindex(columns =["Year","Country","Happiness Rank",'Happiness Score','Economy (GDP per Capita)','Family','Health (Life Expectancy)',"Freedom", 'Trust (Government Corruption)','Generosity','Dystopia Residual'])

In [526]:
happy2015.head()

,Year,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
6,2015,Netherlands,7,7.378,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
10,2015,Israel,11,7.278,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172,3.08854
14,2015,United States,15,7.119,1.39451,1.24711,0.86179,0.54604,0.15890,0.40105,2.51011
15,2015,Brazil,16,6.983,0.98124,1.23287,0.69702,0.49049,0.17521,0.14574,3.26001

## Happiness in 2016

In [411]:
happy2016 = pd.read_csv("data\happiness_for_2016.csv")

In [412]:
happy2016.isnull().sum()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [524]:
happy2016.isnull().sum()

Year                             0
Country                          0
Happiness Rank                   0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [414]:
happy2016 = happy2016[(happy2016.Country == "United States") 
          | (happy2016.Country == "Canada") 
          | (happy2016.Country == "Netherlands") 
          | (happy2016.Country == "Hungary") 
          | (happy2016.Country == "Lithuania")
          | (happy2016.Country == "Brazil") 
          | (happy2016.Country == "Spain") 
          | (happy2016.Country == "Israel") 
          | (happy2016.Country == "Japan") 
          | (happy2016.Country == "Singapore")]

In [415]:
happy2016.Country.unique()

array(['Canada', 'Netherlands', 'Israel', 'United States', 'Brazil',
       'Singapore', 'Spain', 'Japan', 'Lithuania', 'Hungary'],
      dtype=object)

In [416]:
happy2016.shape

(10, 13)

In [418]:
happy2016['Year'] = 2016

In [419]:
happy2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual', 'Year'],
      dtype='object')

In [420]:
happy2016 = happy2016.reindex(columns =["Year","Country","Happiness Rank",'Happiness Score','Economy (GDP per Capita)','Family','Health (Life Expectancy)',"Freedom", 'Trust (Government Corruption)','Generosity','Dystopia Residual'])

In [421]:
happy2016.head()

,Year,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
5,2016,Canada,6,7.404,1.44015,1.09610,0.82760,0.57370,0.31329,0.44834,2.70485
6,2016,Netherlands,7,7.339,1.46468,1.02912,0.81231,0.55211,0.29927,0.47416,2.70749
10,2016,Israel,11,7.267,1.33766,0.99537,0.84917,0.36432,0.08728,0.32288,3.31029
12,2016,United States,13,7.104,1.50796,1.04782,0.77900,0.48163,0.14868,0.41077,2.72782
16,2016,Brazil,17,6.952,1.08754,1.03938,0.61415,0.40425,0.14166,0.15776,3.50733

## Happiness in 2017

In [434]:
happy2017 = pd.read_csv("data\happiness_for_2017.csv")

In [435]:
happy2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [529]:
happy2017.isnull().sum()

Year                             0
Country                          0
Happiness.Rank                   0
Happiness.Score                  0
Economy..GDP.per.Capita.         0
Family                           0
Health..Life.Expectancy.         0
Freedom                          0
Trust..Government.Corruption.    0
Generosity                       0
Dystopia.Residual                0
dtype: int64

In [436]:
happy2017.dtypes

Country                           object
Happiness.Rank                     int64
Happiness.Score                  float64
Whisker.high                     float64
Whisker.low                      float64
Economy..GDP.per.Capita.         float64
Family                           float64
Health..Life.Expectancy.         float64
Freedom                          float64
Generosity                       float64
Trust..Government.Corruption.    float64
Dystopia.Residual                float64
dtype: object

In [437]:
happy2017 = happy2017[(happy2017.Country == "United States") 
          | (happy2017.Country == "Canada") 
          | (happy2017.Country == "Netherlands") 
          | (happy2017.Country == "Hungary") 
          | (happy2017.Country == "Lithuania")
          | (happy2017.Country == "Brazil") 
          | (happy2017.Country == "Spain") 
          | (happy2017.Country == "Israel") 
          | (happy2017.Country == "Japan") 
          | (happy2017.Country == "Singapore")]

In [438]:
happy2017.Country.unique()

array(['Netherlands', 'Canada', 'Israel', 'United States', 'Brazil',
       'Singapore', 'Spain', 'Japan', 'Lithuania', 'Hungary'],
      dtype=object)

In [439]:
happy2017.shape

(10, 12)

In [440]:
happy2017['Year'] = 2017

In [441]:
happy2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual', 'Year'],
      dtype='object')

In [442]:
happy2017 = happy2017.reindex(columns =["Year","Country","Happiness.Rank",'Happiness.Score','Economy..GDP.per.Capita.','Family','Health..Life.Expectancy.',"Freedom", 'Trust..Government.Corruption.','Generosity','Dystopia.Residual'])

In [443]:
happy2017.head()

,Year,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Trust..Government.Corruption.,Generosity,Dystopia.Residual
5,2017,Netherlands,6,7.377,1.503945,1.428939,0.810696,0.585384,0.282662,0.470490,2.294804
6,2017,Canada,7,7.316,1.479204,1.481349,0.834558,0.611101,0.287372,0.435540,2.187264
10,2017,Israel,11,7.213,1.375382,1.376290,0.838404,0.405989,0.085242,0.330083,2.801757
13,2017,United States,14,6.993,1.546259,1.419921,0.774287,0.505741,0.135639,0.392579,2.218113
21,2017,Brazil,22,6.635,1.107353,1.431306,0.616552,0.437454,0.111093,0.162350,2.769267

## Happiness in 2018

In [502]:
happy2018 = pd.read_csv("data\happiness_for_2018.csv")

In [503]:
happy2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [530]:
happy2018.isnull().sum()

Happiness Rank                  0
Country                         0
Happiness Score                 0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [504]:
happy2018.rename(columns={'Country or region': 'Country', "Overall rank":"Happiness Rank", "Score":"Happiness Score"},inplace=True, errors='raise')

In [505]:
happy2018.head()

,Happiness Rank,Country,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [506]:
happy2018.dtypes

Happiness Rank                    int64
Country                          object
Happiness Score                 float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [507]:
happy2018 = happy2018[(happy2018.Country == "United States") 
          | (happy2018.Country == "Canada") 
          | (happy2018.Country == "Netherlands") 
          | (happy2018.Country == "Hungary") 
          | (happy2018.Country == "Lithuania")
          | (happy2018.Country == "Brazil") 
          | (happy2018.Country == "Spain") 
          | (happy2018.Country == "Israel") 
          | (happy2018.Country == "Japan") 
          | (happy2018.Country == "Singapore")]

In [508]:
happy2018.Country.unique()

array(['Netherlands', 'Canada', 'United States', 'Israel', 'Brazil',
       'Singapore', 'Spain', 'Lithuania', 'Japan', 'Hungary'],
      dtype=object)

In [509]:
happy2018.shape

(10, 9)

In [498]:
happy2018['Year'] = 2018

In [499]:
happy2018.columns

Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Year'],
      dtype='object')

In [500]:
happy2018 = happy2018.reindex(columns =["Year","Country","Happiness Rank",'Happiness Score','GDP per capita','Social support','Healthy life expectancy',"Freedom to make life choices", 'Perceptions of corruption','Generosity'])

In [501]:
happy2018.head()

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
5,2018,Netherlands,6,7.441,1.361,1.488,0.878,0.638,0.295,0.333
6,2018,Canada,7,7.328,1.330,1.532,0.896,0.653,0.291,0.321
17,2018,United States,18,6.886,1.398,1.471,0.819,0.547,0.133,0.291
18,2018,Israel,19,6.814,1.301,1.559,0.883,0.533,0.272,0.354
27,2018,Brazil,28,6.419,0.986,1.474,0.675,0.493,0.088,0.110

## Happiness in 2019

In [510]:
happy2019 = pd.read_csv("data\happiness_for_2019.csv")

In [511]:
happy2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [531]:
happy2019.isnull().sum()

Year                            0
Country                         0
Happiness Rank                  0
Happiness Score                 0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Perceptions of corruption       0
Generosity                      0
dtype: int64

In [512]:
happy2019.rename(columns={'Country or region': 'Country', "Overall rank":"Happiness Rank", "Score":"Happiness Score"},inplace=True, errors='raise')

In [513]:
happy2019.head()

,Happiness Rank,Country,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [514]:
happy2019.dtypes

Happiness Rank                    int64
Country                          object
Happiness Score                 float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [515]:
happy2019 = happy2019[(happy2019.Country == "United States") 
          | (happy2019.Country == "Canada") 
          | (happy2019.Country == "Netherlands") 
          | (happy2019.Country == "Hungary") 
          | (happy2019.Country == "Lithuania")
          | (happy2019.Country == "Brazil") 
          | (happy2019.Country == "Spain") 
          | (happy2019.Country == "Israel") 
          | (happy2019.Country == "Japan") 
          | (happy2019.Country == "Singapore")]

In [516]:
happy2019.Country.unique()

array(['Netherlands', 'Canada', 'Israel', 'United States', 'Spain',
       'Brazil', 'Singapore', 'Lithuania', 'Japan', 'Hungary'],
      dtype=object)

In [517]:
happy2019.shape

(10, 9)

In [520]:
happy2019['Year'] = 2019

In [521]:
happy2019.columns

Index(['Happiness Rank', 'Country', 'Happiness Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Year'],
      dtype='object')

In [522]:
happy2019 = happy2019.reindex(columns =["Year","Country","Happiness Rank",'Happiness Score','GDP per capita','Social support','Healthy life expectancy',"Freedom to make life choices", 'Perceptions of corruption','Generosity'])

In [523]:
happy2019.head()

,Year,Country,Happiness Rank,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity
4,2019,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322
8,2019,Canada,9,7.278,1.365,1.505,1.039,0.584,0.308,0.285
12,2019,Israel,13,7.139,1.276,1.455,1.029,0.371,0.082,0.261
18,2019,United States,19,6.892,1.433,1.457,0.874,0.454,0.128,0.280
29,2019,Spain,30,6.354,1.286,1.484,1.062,0.362,0.079,0.153